@import './../../../../assets/stylus/_settings'


.all_cients {
  height: 100%;
  max-width: 240px;
  border-right: 1px solid;
  font-size: 14px;
  margin-left: -43px;
  display: inline-block;
  padding: 0;
  .search_client {
    -webkit-box-shadow: -2px 0px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 4px 2px rgba(0, 0, 0, 0.75);
    input {
      width: 72%;
      margin-right: -6px;
      border: 0;
      margin-left: 21px;
      text-align: center;
      &:focus {
        outline: none;
      }

    }
    button {
      width: 20%
      padding: 4px;
      padding-left: 0px;
      border-radius 0px
    }
  }
}

  .clients_detail_data{
    display inline-block
  }



