<div class="all_cients">
  <div class="search_client">
    <input placeholder="search client">
    <button>Search</button>
  </div>
  <div class="client_preview ">
    <div class="img_client_preview_conteiner">
    <div class="img_all_clients"></div>
    </div>
    <div class="info_client_preview_conteiner">
     <p class="name_all_clients">First Name Last Name</p>
    <p class="name_all_clients">Description about clients Description</p>
    </div>
  </div>
  <div class="client_preview">
    <div class="img_client_preview_conteiner">
    <div class="img_all_clients"></div>
    </div>
    <div class="info_client_preview_conteiner">
     <p class="name_all_clients">First Name Last Name</p>
    <p class="name_all_clients">Description about clients Description</p>
    </div>
  </div>
  <div class="client_preview ">
    <div class="img_client_preview_conteiner">
    <div class="img_all_clients"></div>
    </div>
    <div class="info_client_preview_conteiner">
     <p class="name_all_clients">First Name Last Name</p>
    <p class="name_all_clients">Description about clients Description</p>
    </div>
  </div>
</div>
<div class="">

</div>
