<div class="flex sidebar-container">
  <div class="transition"
          name="fadeLeft"
  >
    <div class="sideMenu">
      <ul>
        <li><a class="active" [routerLink]="['/dashboard']"> <i class="fa fa-tachometer" aria-hidden="true"></i><span>Dashboard</span> </a></li>
        <li><a class="active" [routerLink]="['/clients']"> <i class="fa fa-tachometer" aria-hidden="true"></i><span>Clients</span> </a></li>
        <li><a class="active" [routerLink]="['/posts']"> <i class="fa fa-tachometer" aria-hidden="true"></i><span>Posts</span> </a></li>
      </ul>
    </div>
  </div>
</div>
