image_path = '/assets/images/';

// Colors
primary-color = #0b5570
text-light-color = #b4e6f9

// Fonts
font = 'roboto', sans-serif
regular-font = 'robotoregular', sans-serif
light-font = 'robotolight', sans-serif
bold-font = 'robotobold', sans-serif

//  Header
header_height = 68px

// Footer
// User layout
transition-time = .5s
header-icon-active-color = secondary-color
sidebar-bg-color = primary-color-medium
sidebar-color = primary-color-light
sidebar-shadow-color = #2c3847
innersidebar-bg-color = #0e4154
sidebar-icon-active-color = secondary-color
innersidebar-icon-active-color = #0b3645
sidebar-width-desktop = 80px
sidebar-width-mobile = 70px
innersidebar-width-desktop = 270px
innersidebar-width-mobile = 'calc(80% - %s)' % sidebar-width-mobile
main-content-side-padding = 15px
footer_height=46px
